<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.elasticsearch.cn.elasticsearch.dao.SubwayMapper" >
  <resultMap id="BaseResultMap" type="com.elasticsearch.cn.elasticsearch.bean.Subway" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="city_en_name" property="cityEnName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, city_en_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subway
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from subway
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.elasticsearch.cn.elasticsearch.bean.Subway" >
    insert into subway (id, name, city_en_name
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{cityEnName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.elasticsearch.cn.elasticsearch.bean.Subway" >
    insert into subway
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cityEnName != null" >
        city_en_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cityEnName != null" >
        #{cityEnName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elasticsearch.cn.elasticsearch.bean.Subway" >
    update subway
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cityEnName != null" >
        city_en_name = #{cityEnName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.elasticsearch.cn.elasticsearch.bean.Subway" >
    update subway
    set name = #{name,jdbcType=VARCHAR},
      city_en_name = #{cityEnName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
